{% block nav %}

{% if user.is_teacher %}
<nav>
    <ul>
        <li><a href="{% url 'home:index' %}">Home</a></li>
        <li><a href="{% url 'schoolregister:index' %}">Main Page</a></li>
        <li><a href="{% url 'schoolregister:groups' %}">Classes</a></li>
        <li><a href="{% url 'schoolregister:lesson_portal' %}">Lessons</a></li>
        <li><a href="{% url 'fileshare:index' %}">Files Storage</a></li>
    </ul>
    <br class="clearfix" />
</nav>
{% else %}
<nav>
    <ul>
        <li><a href="{% url 'home:index' %}">Home</a></li>
        <li><a href="{% url 'schoolregister:index' %}">Main Page</a></li>
        <li><a href="#">Subjects</a></li>
        <li><a href="#">Grades</a></li>
        <li><a href="#">Attendance</a></li>
        <li><a href="#">Notes</a></li>
        <li><a href="{% url 'fileshare:index' %}">Files Storage</a></li>
    </ul>
    <br class="clearfix" />
</nav>
{% endif %}

{% endblock %}
