{% extends "schoolregister/base.html" %}

{% block title %}Class {{group.abbrev}}{% endblock %}

{% block content %}
<h2>Class {{ group.abbrev }}</h2>
<p>Supervisor: {{ group.supervisor }}</p>
<details>
    <summary>
        Students:
    </summary>
    <ol>
        {% for student in group.student_set.all %}
        <li><a href="{% url 'schoolregister:student_details' student.pk %}">{{ student }}</a></li>
        {% endfor %}
    </ol>
</details>
<details>
    <summary>
        Subjects:
    </summary>
    <ol>
        {% for taught in group.taught_set.all %}
        <li>
            {{ taught.subject }}, prowadzący: <a href="{% url 'schoolregister:teacher_details' taught.teacher.pk %}">{{ taught.teacher }}</a>
        </li>
        {% endfor %}
    </ol>
</details>
{% endblock %}
