{% block groups %}
  <h3>Classes</h3>
{% if groups %}
    <ul>
    {% for group in groups %}
        <li>
          <a href="{% url 'schoolregister:group_details' group.abbrev %}">{{ group.abbrev }}</a>
          <p>&nbsp supervisor: </p>
          <a href="{% url 'schoolregister:teacher_details' group.supervisor.id %}">{{ group.supervisor }}</a>
          {% include 'schoolregister/group_minimenu.html' %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no groups.</p>
{% endif %}

{% endblock %}
