{% extends 'schoolregister/base.html' %}

{% block title %}Schoolregister:classes{% endblock %}

{% block content %}

{% if groups %}
  <h2>Classes</h2>
    <ul>
    {% for group in groups %}
        <li>
          <a href="{% url 'schoolregister:group_details' group.abbrev %}">{{ group.abbrev }}</a>
          <p>&nbsp</p>
          <a href="{% url 'schoolregister:teacher_details' group.supervisor.id %}">{{ group.supervisor }}</a>
          {% include 'schoolregister/group_minimenu.html' %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no groups.</p>
{% endif %}

{% endblock %}
