{% extends 'schoolregister/base.html' %}

{% block title %}Schoolregister:classes{% endblock %}

{% block content %}

{% if myclass %}
  <h3>My class</h3>
  <ul>
    <a href="{% url 'schoolregister:group_details' group.abbrev %}">{{ group.abbrev }}</a>
  </ul>
{% endif %}

{% if teaching_in_classes %}
  <h3>I teach in</h3>
    <ul>
    {% for group in teaching_in_classes %}
        <li>
          <a href="{% url 'schoolregister:group_details' group.abbrev %}">{{ group.abbrev }}</a>
          <p>&nbsp supervisor: </p>
          <a href="{% url 'schoolregister:teacher_details' group.supervisor.id %}">{{ group.supervisor }}</a>
          {% include 'schoolregister/group_minimenu.html' %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if other_classes %}
  <h3>Other classes</h3>
  <ul>
  {% for group in other_classes %}
      <li>
        <a href="{% url 'schoolregister:group_details' group.abbrev %}">{{ group.abbrev }}</a>
        <p>&nbsp supervisor: </p>
        <a href="{% url 'schoolregister:teacher_details' group.supervisor.id %}">{{ group.supervisor }}</a>
      </li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock %}
