{% extends "schoolregister/__base.html" %}

{% block title %}Lesson {{ lesson.taught.subject }} in class {{ lesson.taught.group }}{% endblock %}

{% block content %}

  <h2>
    <a href="{% url 'schoolregister:taught_details' lesson.taught.id %}">{{ lesson.taught }}</a> lesson {{ lesson.number_of }}
  </h2>
  <h4>Topic: {{ lesson.topic }}</h4>
  <a href="{% url 'schoolregister:teacher_details' lesson.teacher.id %}"><h5>{{ lesson.teacher }}</h5></a>
  <h5>{{ lesson.start_time }}</h5>

{% if user.is_teacher %}
  {% include 'schoolregister/_presence_list.html' %}
{% elif user.is_student %}
  {% for presence in presences %}
    {% if presence.student == user.student %}
      <h3>Present: {{ presence.status }}</h3>
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock %}

{% block left-column %}
{% endblock %}

{% block right-column %}
{% endblock %}
