{% extends "schoolregister/__base.html" %}

{% block title %}My lessons{% endblock %}

{% block content %}
  {% if active_lesson %}
    <h3>Active lesson: <a href="{% url 'schoolregister:lesson_details' active_lesson.id %}">{{ active_lesson.taught.group }} - {{ active_lesson.taught.subject }}</a></h3>
  {% else %}
    <h3>You have no active lesson now.</h3>
    {% if user.is_teacher %}
      <div style="width: 50%; display: inline-grid;">
        <h3>Start new lesson</h3>
        <form class="add-lesson-form" action="" method="post">
          {% csrf_token %}
          {{ add_lesson_form }}
          <input type="submit" name="add-lesson-submit" value="Start lesson">
        </form>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block left-column %}
  {% if user.is_teacher %}
    {% include 'schoolregister/_taughts.html' %}
  {% elif user.is_student %}
    {% include 'schoolregister/_subjects.html' with taughts=student.group.taught_set.all %}
  {% endif %}
{% endblock %}

{% block right-column %}
{% endblock %}
