{% extends "schoolregister/__base.html" %}

{% block title %}{{ student.full_name }}{% endblock %}

{% block content %}
  {% include 'schoolregister/_student_header.html' %}
  {% include 'schoolregister/_student_grades.html' %}
  {% include 'schoolregister/_student_notes.html' %}
{% endblock %}

{% block left-column %}
  {% if user.teacher %}
    <h4>Give a grade</h4>
    {% include 'schoolregister/_grade_form.html' %}
  {% endif %}
{% endblock %}

{% block right-column %}
  <h4>Give a note</h4>
  {% include "schoolregister/_note_form.html" %}
{% endblock %}
