<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Unwritten
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120710
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>Unwritten by TEMPLATED</title>
		<link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="#">Unwritten</a></h1>
				</div>
				<div id="search">
					<form action="" method="post">
						<div>
							<input class="form-text" name="search" size="32" maxlength="64" /><input class="form-submit" type="submit" value="Search" />
						</div>
					</form>
				</div>
				<div id="menu">
					<ul>
						<li class="first current_page_item"><a href="#">Homepage</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Articles</a></li>
						<li><a href="#">Photos</a></li>
						<li><a href="#">Information</a></li>
						<li><a href="#">Friends</a></li>
						<li><a href="#">About</a></li>
						<li class="last"><a href="#">Contact</a></li>
					</ul>
					<br class="clearfix" />
				</div>
			</div>
			<div id="splash">
				<img src="images/splash.jpg" width="1100" height="250" alt="" />
			</div>
			<div id="page">
				<div id="content">
					<div class="post">
						<h2>Welcome to Unwritten</h2>
						<p>
							This is <strong>Unwritten</strong>, a free, fully standards-compliant CSS template by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The images used in this template are from <a href="http://fotogrph.com/">Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it.. Have fun :)
						</p>
					</div>
					<div id="col1" class="post">
						<h3>Suspendisse curae aliquet</h3>
						<p>
							Justo quam tristique tellus arcu dictum. Curae molestie pellentesque lobortis sollicitudin sapien.
						</p>
						<ul class="list">
							<li class="first"><a href="#">Mauris tempor placerat luctus</a></li>
							<li><a href="#">Enim mi nulla congue</a></li>
							<li><a href="#">Facilisis molestie posuere tristique</a></li>
							<li><a href="#">Libero sapien sagittis mattis</a></li>
							<li class="last"><a href="#">Fusce pellentesque massa volutpat</a></li>
						</ul>
					</div>
					<div id="col2" class="post">
						<h3>Suspendisse curae aliquet</h3>
						<p>
							Rutrum sem enim hendrerit felis. Aenean rutrum posuere etiam.
						</p>
						<ul class="list">
							<li class="first"><a href="#">Integer euismod elit porta</a></li>
							<li><a href="#">Nibh purus integer imperdiet</a></li>
							<li><a href="#">Tincidunt fringilla suspendisse montes</a></li>
							<li><a href="#">Sollicitudin ornare curabitur odio</a></li>
							<li class="last"><a href="#">Lacinia vitae rhoncus mollis</a></li>
						</ul>
					</div>
					<br class="clearfix" />
				</div>
				<div id="sidebar">
					<div class="post">
						<h3>Posuere tortor vitae</h3>
						<ul class="list">
							<li class="first"><a href="#">Elementum et auctor</a></li>
							<li><a href="#">Amet tempor blandit</a></li>
							<li><a href="#">Fringilla viverra quisque viverra</a></li>
							<li><a href="#">Placerat etiam lobortis suspendisse</a></li>
							<li><a href="#">Imperdiet aliquet sapien</a></li>
							<li class="last"><a href="#">Nulla volutpat aenean augue</a></li>
						</ul>
					</div>
					<div class="post">
						<h3>Scelerisque turpis quis</h3>
						<p>
							Dignissim cum iaculis malesuada dolor egestas nec nascetur. Praesent montes laoreet augue duis posuere. Magnis mus pellentesque sollicitudin nisl libero.
						</p>
					</div>
				</div>
				<br class="clearfix" />
			</div>
		</div>
		<div id="footer">
			&copy; Untitled | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a> | Images by <a href="http://fotogrph.com/">Fotogrph</a>
		</div>
	</body>
</html>