{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Unwritten
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120710
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>eSchool register:{% block title %}{% endblock %}</title>
		<link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
	</head>
	<body>
		<div id="wrapper">
			{% include 'schoolregister/_header.html' %}
			{% include 'schoolregister/_menu.html' %}
			<!--
			<div id="splash">
				<img src="images/splash.jpg" width="1100" height="250" alt="" />
			</div>
		-->
			<section>
				<div id="content">
					<div class="post">
						{% block content %}{% endblock %}
					</div>
					<div id="col1" class="post">
						{% block left-column %}{% endblock %}
					</div>
					<div id="col2" class="post">
						{% block right-column %}{% endblock %}
					</div>
					<br class="clearfix" />
				</div>
			</section>
			<aside>
				{% include 'schoolregister/_base_aside.html' %}
			</aside>
				<br class="clearfix" />
		</div>
		<footer>
			&copy; Untitled | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a> | Images by <a href="http://fotogrph.com/">Fotogrph</a>
		</footer>
	</body>
</html>
