{% block note_block %}
  <div class="note_container">
    {% if note.positive %}
      <a href="{% url 'schoolregister:note_details' student_pk=note.student.id note_pk=note.id %}">
        <strong><h3 style="color: var(--green-color);">GOOD</h3></strong>
      </a>
    {% else %}
      <a href="{% url 'schoolregister:note_details' student_pk=note.student.id note_pk=note.id %}">
        <strong><h3 style="color: var(--red-color);">BAD</h3></strong>
      </a>
    {% endif %}
    <p>{{ note.text }}</p>
    <a href="{% url 'schoolregister:teacher_details' teacher_pk=note.given_by.id %}">
      <h5>{{ note.given_by.full_name }}</h5>
    </a>
    <h5>{{ note.datetime }}</h5>
  </div>
{% endblock %}
