{% block presence_list %}
  <h4>Presence list</h4>
  <form action="" method="post">
    {% csrf_token %}
    <ul>
      {% for presence in presences %}
        <li>
          {% include "schoolregister/_presence_checkbox.html" with lesson=presence.lesson %}
          <a href="{% url "schoolregister:student_details" presence.student.pk %}">
            <p>{{ presence.student.number_of }}. {{ presence.student }}</p>
          </a>
          {% include 'schoolregister/_student_grades_inline.html' with student=presence.student taught=presence.lesson.taught %}
        </li>
      {% endfor %}
    </ul>
    {% if lesson.is_active %}
      <button type="submit" name="submit" value="Save">Submit presence list</button>
    {% endif %}
  </form>
{% endblock %}
