{% extends "schoolregister/__base.html" %}

{% block title %}Lesson {{ lesson.taught.subject }} in class {{ lesson.taught.group }}{% endblock %}

{% block content %}

  <h2>
    <a href="{% url 'schoolregister:taught_details' lesson.taught.id %}">{{ lesson.taught }}</a> lesson {{ lesson.number_of }}
  </h2>
  <h4>Topic: {{ lesson.topic }}</h4>
  <a href="{% url 'schoolregister:teacher_details' lesson.teacher.id %}"><h5>{{ lesson.teacher }}</h5></a>
  <h5>{{ lesson.start_time }}</h5>
  {% if lesson.is_active and user.is_teacher %}
  <div style="display:flex; width:100%">
    <div style="margin-left:auto;">
      <form action={% url "schoolregister:give_group_grades" group_pk=group.id %}>
          {% csrf_token %}
          <input class="give_group_grades" type="submit" value="Give grades" name="give_group_grades"/>
      </form>
      <form action="" method="post">
          {% csrf_token %}
          <input class="end-lesson-button" type="submit" value="End lesson" name="end_lesson"/>
      </form>
    </div>
  </div>
  {% endif %}

{% if user.is_teacher %}
  {% include 'schoolregister/_presence_list.html' %}
{% elif user.is_student %}
  {% for presence in presences %}
    {% if presence.student == user.student %}
      <h3>Present: {{ presence.status }}</h3>
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock %}

{% block left-column %}
{% endblock %}

{% block right-column %}
{% endblock %}
